.row{
    margin-left: 0px;
    margin-right: 0px;
}
.fadeInUp{
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.card{
    border: none;
    border-radius:.28em;
    box-shadow:0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
}

.card img{
    width: 150px;
    margin: auto;
}

.navbar-brand{
    font-family: 'Philosopher', sans-serif;
    font-size: 26px;
    font-weight: bold;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
